.contact-container {
  border-top: 2px solid $primaryColor;
  border-bottom: 2px solid $primaryColor;
  margin-top: 2rem;
  padding: 1.5rem 0 2rem;

  .address-information {
    text-align: center;
  }
}
