// TODO: Replace with accurate styling.
* {
  box-sizing: border-box;
}

.site-main {
  margin: 0 auto;
}

.page-main {
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 5rem;

  @media #{$screenMedium}, #{$screenLarge} {
    max-width: 600px;
  }
}

.blog-post {
  padding-bottom: 1.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid $primaryColor;

  &:last-of-type {
    border-bottom: none;
  }

}
