.breadcrumb {
  @include border-top-bottom();
  color: $primaryShade;
  margin: 0 auto 2.5rem;
  max-width: 1200px;
  text-align: center;
  padding: 1rem 0;


  a {
    color: $primaryShade;

    &:hover {
      color: $primaryDarkerShade;
    }
  }
}
