// Start of styling of button ------------------------------------------------
.button {
  background-color: $primaryColor;
  border: 2px solid $primaryColor;
  color: $secondaryColor;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0.1em;
  max-width: 250px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  width: 100%;
  @include smooth-transition();

  &:hover {
    background-color: $secondaryColor;
    color: $primaryColor;
  }

  @media #{$screenMedium}, #{$screenLarge} {
    width: auto;
  }
}
