.logo {
  text-align: center;
  margin: 1.7em 0 3em;

  .lens-logo {
    width: 3.8rem;
  }

  .main-title {
    // hides photographer-name and photographer-title on small screens
    display: none;

    @include screenMedium {

      display: block;
      font-size: 1.7rem;
      margin-top: 0.2em;

      .photographer-name {
        font-weight: 400;
      }
    }
  }

}
