.logo {
  text-align: center;
  margin: 1.7em 0 3em;

  .lens-logo {
    width: 3.8rem;
    }
  }

  .photographer-container {
    // hides photographer-name and photographer-title on small screens
    display: none;

    @media #{$screenMedium}, #{$screenLarge} {

      display: inline;
      font-weight: 300;
      font-size: 1.7rem;
      margin-top: 0.2em;

      .photographer-name {
        font-weight: 400;
      }
    }
  }
}
