.logo {
  margin: 1.7em 0 3em;
  text-align: center;

  .lens-logo {
    width: 3.8rem;
    }

  .photographer-container {
    display: none;

    @media #{$screenMedium}, #{$screenLarge} {
      display: inline;
      font-weight: $normalWeight;
      font-size: 1.7rem;
      margin-top: 0.2em;

      .photographer-name {
        font-weight: $semiWeight;

        &::before,
        &::after {
          content:"\a";
          white-space: pre;
        }
      }
    }
  }
}
