// Only shown when scrolling
// FIXME: This is a temporary solution.
.placeholder {
  height: 10rem;
}

.mast-head {
  background-color: $backgroundColor;
  display: block;
  width: 100%;

  .menu-link {
    font-size: 1.3rem;
    position: absolute;
    top: 50px;
    right: 20px;

    @media #{$screenMedium}, #{$screenLarge} {
      top: 73px;
      right: 40px;
    }
  }

/*------------------------------------------------------------------------------
  LOGO CONTAINER
------------------------------------------------------------------------------*/

    .main-logo {
    margin: 1.7em 0 3em;
    text-align: center;

    .lens-logo {
      height: 3.8rem;
      width: 3.8rem;
      }

    .photographer-container {
      display: none;

      @media #{$screenMedium}, #{$screenLarge} {
        display: inline;
        font-weight: $normalWeight;
        font-size: 1.7rem;
        margin-top: 0.2em;

        .photographer-name {
          font-weight: $semiWeight;

          &::before,
          &::after {
            content:"\a";
            white-space: pre;
          }
        }
      }
    }
  }

/*------------------------------------------------------------------------------
  RULES TO APPLY WHEN SCROLLING
------------------------------------------------------------------------------*/

  // TODO: This needs some smooth animation for when going back. Get it together.
  &.animate {
    top: -54px;
    transition: top 750ms ease-in-out;
  }
  &.sticky.animate {
    position: fixed;
    top: 0;
    z-index: 100; // .main-navigation has z-index 105
    box-shadow: $boxShadow;

    .menu-link {
      font-size: 1.3rem;
      position: absolute;
      right: 20px;
      top: 27px;

      @media #{$screenMedium}, #{$screenLarge} {
        right: 40px;
      }
    }

    .main-logo {
      margin: 0.4rem 0 0.6rem;
    }

    .photographer-container {
      display: none;
    }
  }
}
