// TODO: Replace with variable.
@mixin background-gradient() {
  background: linear-gradient(180deg, rgb(21, 20, 27), rgb(8, 8, 10));
}

// Visually hides element, but keeps it readable for screen readers.
@mixin hidden-visually {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin smooth-transition() {
  transition-duration: 0.8s;
  transition-delay: 0.05s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.14, 0.99);
}
