
// The link "Menu" that leads to main navigation
.menu-link {
  font-size: 1.3rem;
  position: absolute;
  top: 50px;
  right: 20px;

  @media #{$screenMedium}, #{$screenLarge} {
    top: 73px;
    right: 40px;
  }
}

/* START OF STYLING FOR MAIN NAVIGATION (DROPS DOWN) ------------------------ */
.main-navigation {
  @include background-gradient();
  color: $secondaryColor;
  font-size: 3rem;
  height: 100vh;
  line-height: 1.4;
  left: 0;
  padding: 15vh 5vh;
  position: fixed;
  top: 0;
  transform: translateY(-100vh);
  transition: 0.9s ease-in-out;
  width: 100vw;

  &:target {
    transform: translateY(0);
  }

  .menu {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
  }

  a {
    color: inherit;
    font-weight: 100;
    opacity: 0.3;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        opacity: 0.4;
      }
  }

  .current-menu-item a {
    opacity: 1;
  }

  // Styling of exit icon starts here ------------------------------------------
  .exit-menu {
    line-height: 0;
    width: 1.8rem;
    opacity: 1;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    opacity: 0.8;

    // On hover, the exit icon rotates 360deg
    &:hover {
      opacity: 1;
      animation: roll 1s 1;
      animation-timing-function: ease-in-out;
    }

    // Animation for spinning the exit icon
    @keyframes roll {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }

    }
  }

  // Styling of bottom logotype starts here ------------------------------------
  .logotype-container {
    bottom: 0;
    height: 6.5rem;
    left: 50%;
    width: 6.5rem;
    position: absolute;
    transform: translateX(-50%);
  }
}
