/*------------------------------------------------------------------------------
  MAIN SITE NAVIGATION STYLING (DROPS DOWN ON TARGET)
------------------------------------------------------------------------------*/

.main-navigation {
  background: $backgroundGradient;
  color: $secondaryColor;
  height: 100vh;
  left: 0;
  padding: 15vh 5vh;
  position: fixed;
  top: 0;
  transform: translateY(-100vh);
  transition: transform 0.9s ease-in-out;
  width: 100vw;
  z-index: 105; // mast-head has z-index 100

  @media #{$screenLandscape} {
    padding: 5vh;
  }

  &:target {
    transform: translateY(0);
  }

  .menu {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .menu-item a {
    font-size: 3rem;
    line-height: 1.4;
    color: inherit;
    opacity: 0.1;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

    &:hover {
        opacity: 0.2;
      }
  }

  .current-menu-item a {
    opacity: 1;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;

    &:hover {
      opacity: 1;
    }
  }

  // Styling of exit icon starts here ------------------------------------------

  .exit-menu {
    color: inherit;
    line-height: 0;
    width: 1.8rem;
    height: 1.8rem;
    opacity: 1;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    // On hover, the exit icon rotates 360deg
    &:hover {
      animation: roll 1s 1;
      animation-timing-function: ease-in-out;
      opacity: 1;
    }

    // Animation for spinning the exit icon
    @keyframes roll {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }

  }

  // Styling of bottom logotype starts here ------------------------------------
  // TODO: Keep it DRY! This is kind of the same as in '_logo.scss'
  .logo-navigation {
    bottom: 3rem; // Only for screens smaller than 600px.
    color: $secondaryColor;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;

    .lens-logo {
      height: 2.3rem;
      width: 2.3rem;
    }

    .logo-navigation-name {
      color: inherit;
      display: inline;
      font-weight: 100;
      line-height: 1.4;

        .photographer-name {
          font-weight: $normalWeight;

          &::before,
          &::after {
            content:"\a";
            white-space: pre;
          }
        }
    }

    @media #{$screenSmall}, #{$screenMedium}, #{$screenLarge} {
      bottom: 2rem;
    }

    @media #{$screenLandscape} {
      display: none;
    }

    a {
      opacity: 1;
    }

  }
}
