/*------------------------------------------------------------------------------
  FRONT NAVIGATION (USED FOR NAVIGATING ON FRONT PAGE)
------------------------------------------------------------------------------*/

.pagination {
  margin-bottom: 4rem;

  a {
    font-size: 1.3rem;
    display: block;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
  }
}
