body,
html {
  font-family: $brandfont;
  font-weight: 300;
}

p {
  text-align: justify;
  line-height: 1.35;
}

a {
  text-decoration: none;
  color: $primaryColor;
}

.page-title {
    font-size: 3rem;
    margin-bottom: 0.4em;
}

.page-sub-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.8em 0 1.2em;
}

.intro-text p {
  font-size: 1.1rem;
}

.address-information,
.social-link {
  font-style: normal;
  margin: 0;
  line-height: 1.35;

  &.photographer-name {
    font-weight: 400;
  }
}

.blog-post-date {
  font-style: italic;
}
