/*------------------------------------------------------------------------------
  MAIN RULES FOR TYPOGRAPHY
------------------------------------------------------------------------------*/

body,
html {
  font-family: $brandfont;
  font-weight: 300;
}

p {
  line-height: 1.35;
  text-align: justify;
}

.intro-text {
  font-size: 1.5rem;
}

a {
  color: $primaryColor;
  text-decoration: none;
}

/*------------------------------------------------------------------------------
  TYPOGRAPHY FOR TITLES
------------------------------------------------------------------------------*/

.page-main-title {
    font-family: $altFont;
    font-weight: 700;
    font-size: 2.8rem;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;

    .pre-page-main-title {
      font-size: 1rem;
    }

    @media #{$screenMedium}, #{$screenLarge} {
      font-size: 3.5rem;
    }
}

.page-sub-title {
  font-size: 1.5rem;
  margin: 1.8em 0 1.2em;
}

.grid-item-title {
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 0.2em;
}

/*------------------------------------------------------------------------------
  TYPOGRAPHY FOR CONTACT INFORMATION, FOUND ON CONTACT PAGE
------------------------------------------------------------------------------*/

.address-information,
.social-link {
  font-style: normal;
  margin: 0;
  line-height: 1.35;

  &.photographer-name {
    font-weight: 700;
    font-family: $altFont;
    font-size: 1.5rem;
    margin-bottom: 0.2em;
  }
}
