.align-left {
  float: left;
  margin: 0 2rem 1rem 0;
}

.center {
  text-align: center;
}

.full-width-img {
  display: block;
  height: auto;
  width: 100%;
  filter: opacity(1);
  transition-duration: 0.8s;
  transition-delay: 0.05s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.14, 0.99);

  &:hover {
    filter: opacity(0.3);
  }

}

.uppercase {
  text-transform: uppercase;
}
