.blog-img {
  float: left;
  margin: 0 2rem 1rem 0;
  max-width: 100%;
}

.center {
  text-align: center;
}

.full-width-img {
  display: block;
  height: auto;
  width: 100%;
  filter: opacity(1);
  @include smooth-transition();

}

.full-width-img-link:hover {
  filter: opacity(0.3);
}

.hidden {
  @include hidden-visually();
}

.uppercase {
  text-transform: uppercase;
}
