.blog-img {
  display: block;
  margin: 0 2rem 1rem 0;
  width: 100%;
  height: auto;
}

.border-top {
  border-top: 1px solid $primaryShade;
}

.center {
  text-align: center;
}

.full-width-img {
  display: block;
  height: auto;
  width: 100%;
  filter: opacity(1);
  @include smooth-transition();
}

@media #{$screenMedium}, #{$screenLarge} {
  .full-width-img-link:hover {
    filter: opacity(0.3);
  }
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}
