
// Typography and color --------------------------------------------------------

$brandfont: 'Lato', sans-serif;
$altFont:'Playfair Display', serif;
$primaryColor: #15141b;
$primaryShade: #D4D4D5;
$secondaryColor: #f8f8f8;

// Media queries ---------------------------------------------------------------

$widthSmall: 600px;
$widthMedium: 900px;
$widthLarge: 1200px;

$screenSmall: "(min-width: #{$widthSmall}) and (max-width: #{$widthMedium})";
$screenMedium: "(min-width: #{$widthMedium}) and (max-width: #{$widthLarge})";
$screenLarge: "(min-width: #{$widthLarge})";
